* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }
  
  :root {
    --default-color: #4169e1;
    --top-color: #00008b;
    --bottom-color: #00bfff;
    --cloud-color: white;
    --my-gradient: linear-gradient(
      to bottom,
      var(--top-color),
      var(--default-color),
      var(--bottom-color),
      var(--top-color)
    );
    font-size: 1em;
  }
  
  body {
    height: 100vh;
    background: var(--my-gradient);
    overflow-y: scroll;
    ::-webkit-scrollbar-thumb {
      background-color: #ffffff;
    }
  }





/* HEADER - INICIO */
#header {
    display: grid;
    grid-template-columns: 37vw;
    grid-template-areas: "CEU menu";
    height: 15vh;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
  }
  
  .leftHeader {
    grid-area: CEU;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .cloudHeader {
    display: flex;
    height: 9vh;
  }
  
  #header a {
    color: white;
    text-decoration: none;
  }
  
  #header img {
    height: 4rem;
    max-width: 4rem;
  }
  
  #header h1 {
    font-size: 4rem;
  }
  
  #header .menu a {
    padding: 0px 8px;
  }
  
  #header .menu li {
    font-weight: 700;
    list-style: none;
    font-size: 1.5rem;
  }
  
  .menu ul {
    display: flex;
  }
  
  .menu {
    grid-area: menu;
  }
  
  /* HEADER - FIM */


/* FOOTER - INICIO

#footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  width: 99vw;
  margin-bottom: 1.6rem;
}
.lista_um,
.lista_dois {
  font-size: 0.6rem;
  color: var(--cloud-color);
}

.center_footer {
  display: flex;
  gap: 1rem;
  color: var(--cloud-color);
}
FOOTER - FIM */